.bg-black {
    background-color: transparent;
}

.poster {
    width: 100%;
}

.overview {
    color: rgb(0, 0, 0) !important;
}

.card.no-hover{
    width: 17rem !important;
    height: 30rem !important; 
    overflow-y: auto !important;
    padding: 10px !important;
    background: rgba(152, 152, 152, 0.3) !important;
}

.card.no-hover::-webkit-scrollbar {
    width: 5px !important;
    height: 8px !important;
  }
  
  .card.no-hover::-webkit-scrollbar-track {
    background-color: #000000 !important;
  }
  
  .card.no-hover::-webkit-scrollbar-thumb {
    background-color: #888 !important;
    border-radius: 2px !important;
  }
  
  .card.no-hover::-webkit-scrollbar-thumb:hover {
    background-color: #555 !important;
  }

.row {
    background: rgba(152, 152, 152, 0.5) !important;
    backdrop-filter: blur(20px);
    margin-left: auto !important;
    margin-right: auto !important;
}