.bg-black {
    background-color: transparent;
}

.poster {
    width: 100%;
}

.overview {
    color: rgb(0, 0, 0) !important;
}

.card.no-hover{
    width: 25% !important;
    height: 30rem !important; 
    overflow-y: auto !important;
    padding: 10px !important;
    background: rgba(152, 152, 152, 0.3) !important;
}

.row {
    background: rgba(152, 152, 152, 0.5) !important;
    backdrop-filter: blur(20px);
}