<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMate - Home</title>
    <!-- icon is moviemate-logo in images folder -->
    <link rel="icon" href="images/moviemate-logo.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <a class="navbar-brand" href="index.html"><img src="images/moviemate.png" alt="MovieMate" style="width: auto; height: 30px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html"><i class="fas fa-home" style="margin-left: 5px; margin-right: 5px; color: gold;"></i> Home</a>
            </li>
            <li id="search-btn" class="nav-item">
              <a class="nav-link" href="search.html"><i class="fas fa-search" style="margin-left: 5px; margin-right: 5px;"></i> Search</a>
            </li>
            <li id="fav-btn" class="nav-item">
              <a class="nav-link" href="favorites.html"><i class="fas fa-heart" style="margin-left: 5px; margin-right: 5px;"></i> Favourites</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container">
        <div class="jumbotron" style="text-align: center;margin-top: 5%;">
            <!-- Add a tag line to users for this website -->
            <h1 class="display-4">Welcome to MovieMate</h1>
            <p class="lead">A website to find your favourite movies and TV shows.</p>
        </div>
        <!-- <div class="swiper-container">
          <div class="swiper-wrapper" id="trending-movies-carousel"></div>
          <div class="swiper-pagination"></div>
        </div> -->
        <!-- <div class="scroll-container">
          <div id="trending-movies-carousel" class="card-container"></div>
          <button id="prev-btn" class="carousel-btn prev-btn">&lt;</button>
          <button id="next-btn" class="carousel-btn next-btn">&gt;</button>
        </div> -->
        <!-- create a card layout horizontally scrollable and use ejs to iterate through the trendingMovieData -->
        <!-- <div class="card-container" id="trending-movies-carousel"> 
          <div class="card">
            <img src="images/venom.jpg" alt="Venom" style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">Venom</h5>
              <p class="card-text">Venom is a 2018 American superhero film based on the Marvel Comics character of the same name, produced by Columbia Pictures in association with Marvel and Tencent Pictures.</p>
              <a href="#" class="btn btn-primary">Add to Favourites</a>
            </div>
          </div></div> -->
          <div class="scroll-container">
            <div id="trending-movies-carousel" class="card-container">
              <% trendingMoviesData.forEach((movie) => { %>
                <div class="card">
                  <img class="card-img-top" src="<%= movie.poster %>" alt="<%= movie.title %>">
                  <div class="card-body">
                    <h5 class="card-title"><%= movie.title %></h5>
                    <p class="card-text">Release Date: <%= movie.releaseDate %></p>
                  </div>
                </div>
              <% }); %>
            </div>
            <button id="prev-btn" class="carousel-btn prev-btn">&lt;</button>
            <button id="next-btn" class="carousel-btn next-btn">&gt;</button>
          </div>
          
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</html>