.bg-black {
    background-color: #4A154B;
}

.row {
    margin: 10% 0px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(152, 152, 152, 0.3);
    backdrop-filter: blur(20px);
    padding: 20px;
}

.poster {
    width: 100%;
}

.overview {
    color: rgb(0, 0, 0);
}

.card.no-hover{
    width: 500px !important;
    height: 300px !important; 
    overflow-y: auto !important;
    padding: 10px !important;
    background: rgba(152, 152, 152, 0.3) !important;
}
