body{
    /* background: linear-gradient(to bottom, #cccccc, #f0f0f0); */
    background: linear-gradient(135deg, #4A154B, #000000) no-repeat center center fixed !important;
}
.bg-black {
    background-color: transparent;
}

/* give nav-item active gold color */
.nav-item.active a {
    /* text color gold */
    color: #FFD700 !important;
}


.nav-btn:hover {
    text-decoration: none;
    margin: 0px;
}